@using System.Globalization
@using Markdig
@using BlazorStatic
@using BlazorStatic.Services
@inject BlogService<NasheedFrontMatter> BlogService
@inject BlazorStaticService BlazorStaticService


@((MarkupString)columnOpen)
@foreach (var post in posts.Where(x => x.FrontMatter.IsDraft is false))
{
    @if (post.FrontMatter.Producer != currentProducer)
    {
        currentProducer = post.FrontMatter.Producer;
        @((MarkupString)columnClose)
        @((MarkupString)columnOpen)
    }
    <div class="col pb-2">
        <h4>
            <a href="@PostUrl(post.FileNameNoExtension)">- @post.FrontMatter.Title</a>
        </h4>
    </div>
}
@((MarkupString)columnClose)


@code {
    List<Post<NasheedFrontMatter>> posts = new();
    [Parameter] public List<Post<NasheedFrontMatter>>? Posts { get; set; }
    string? currentProducer;

    string columnOpen => $"<div class='container'><h2 class='pt-5 pb-2 border-bottom'>{currentProducer}</h2><div class='text-center'><div class='row row-cols-1 row-cols-sm-2 row-cols-md-4'>";
    string columnClose = "</div></div></div>";
    string PostUrl(string name) => BlogService.Options.BlogPageUrl + "/"+ name;

    protected override void OnInitialized()
    {
        var unOrderedPosts = Posts is not null ? Posts : BlogService.BlogPosts;
        posts = unOrderedPosts.OrderBy(x => x.FrontMatter.Producer).ThenBy(x => x.FrontMatter.Title).ToList();
        currentProducer = posts.First().FrontMatter.Producer;
        base.OnInitialized();
    }
}